html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}
body{
     background: url('http://wallpapercave.com/wp/nlcRtbC.jpg') fixed;

    display: block;
    height: 650px;
    width: 850px;
    margin: 10px auto;
    }

  h1{
        font-size: 100px;
        text-align: center;
        margin: 0 auto 20px auto;
        text-shadow: 0 0 3px indigo;
    }

a{
    color: #b10000;
    text-decoration: none;
}
    a:hover{
        text-decoration: underline;
    }
    a:visited{
        color: #b10000;
    }
body, html, #challenge, #introPage, #introText, #introText p, #sp, #sp1, #wordWrap, #wordWrap div, #restriction, #letterBank div, #challengeBank div, {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#introPage,{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

    #buttonContainer{
        width: 700px;
        height: 75px;
        margin: 50px auto;
    }
   
  
    #hangman{
        display: block;
        margin: 50px auto 0 auto;
        border: 1px solid black;
    }
    #categoryHolder{
        width: 100%;
        height: 335px;
    }    
    #category{
        width: 700px;
        height: 335px;
        margin: 0 auto;
    }    
    #category1, #category2{
        float: left;
        width: 700px;
        height: 150px;
    }
    #category1{
        margin-bottom: 30px;
    }
    #phrases{
        float: left;
        width: 48%;
        height: 100%;
        font-size: 70px;
        line-height: 150px;
        text-align: center;
        border: 1px solid black;
        cursor: pointer;
        color: black;
    }
      
    #challenge{
        background: #b10000;
        background: -webkit-linear-gradient(left, white, #b10000);
        background: -o-linear-gradient(right, white, #b10000);
        background: -moz-linear-gradient(right, white, #b10000);
        background: linear-gradient(to right, white, #b10000);
    }
    #wordInput{
        width: 845px;
        height: 350px;
        margin: 0px auto;
    }
    #multiText p{
        font-size: 29px;
    }
    #input{
        font-family: sans-serif;
        display: block;
        margin: 0px auto;
        padding: 10px;
        font-size: 25px;
    }
    #restriction{
        font-family: sans-serif;
        float: right;
        position: relative;
        right: 175px;
        bottom: 22px;
        font-size: 15px;
    }
    #characterMCount{
        width: 580px;
        height: 35px;
        margin: 21px auto 0 auto;
        font-size: 25px;
    }
    #charContain{
        margin: 0;
        float: left;
    }
    #submit{
        font-size: 35px;
        width: 200px;
        height: 35px;
        float: right;
        line-height: 35px;
        text-align: center;
        color: white;
        background-color: #00b100;
        border-radius: 25px;
        cursor: pointer;
    }


   
    
    #wordWrap{
        display: inline-block;
        width: 830px;
        margin: 0 auto;
        padding: 10px;
        color:black;
    }
    #letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10{
        font-family: 'Gloria Hallelujah', cursive;
        width: 50px;
        height: 60px;
        margin-bottom: 40px;
        text-align: center;
        font-size: 50px;
        line-height: 60px;
    }
    #underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, #underline8, #underline9, #underline10{
        display: all;
        float: left;
        width: 50px;
        height: 60px;
        margin-right: 5px;
        color:black
    }
    #letterBank, #challengeBank{
        width: 780px;
        height: 125px;
        margin: 20px auto;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        
       
    }
    #letterBank div, #challengeBank div{
        float: left;
        width: 50px;
        height: 58px;
        margin: 0px 10px 10px 0px;
        cursor: pointer;
        background-color: #adadad;
    }
    #letterBank div:hover, #challengeBank div:hover{
        background-color: #797979;
    }
    #letterBank div:active, #challengeBank div:active{
        background-color: gray;
        width: 50px;
        font-size: 45px;
        padding-top: 3px;
    }
    #results{
        margin-top: 5px;
        height: 70px;
        visibility: hidden;
        line-height: 70px;
    }
    #again, #home, #home1{
        display: none;
        width: 50%;
        height: 65px;
        margin: 0px auto 20px auto;
        font-size: 35px;
        line-height: 65px;
        text-align: center;
        color: white;
        background-color: #00006c;
        border-radius: 25px;
        cursor: pointer;
    }
    #home{
        margin-top: 0px;
    }
    #home1{
        margin-top: 32px;
    }
    #vidSent{
        display: none;
        margin-bottom: 100px;
        font-size: 30px;
    }
#challengeGame{
    text-align: center;
}
    #vidHead, #vidCaption{
        margin: 20px auto 10px auto;
        font-size: 60px;
        text-align: center;
    }
    #vidCaption{
        margin-top: 10px;
        font-size: 25px;
    }

@media (max-width: 866px){
    #introPage{
        width: 500px;
        height: 500px;
    }
        #introText{
            width: 500px;
            height: 85px;
        }
        #introText p, #multiText p{
            font-size: 25px;
            margin: 10px auto;
        }
        #buttonContainer{
            width: 500px;
            height: 60px;
            margin: 20px auto;
        }
        #sp, #sp1,{
            font-size: 25px;
            width: 175px;
            height: 60px;
            line-height: 60px;
        }
        #sp1{
            margin: 25px 10px auto auto;
        }
       
       
   
       
     
        #wordInput{
            height: 250px;
            width: 100%;
        }
        #multiText p{
            font-size: 17.6px;
        }
        #input{
            font-size: 20px;
        }
        #restriction{
            right: 50px;
            bottom: 18px;
            font-size: 12px;
        }
        #characterCount{
            width: 500px;
            height: 30px;
            margin: 15px auto 0 auto;
            font-size: 20px;
        }
        #submit{
            font-size: 25px;
            width: 130px;
            height: 30px;
            line-height: 30px;
        }
  
             }    
        #wordWrap{
            display: inline-block;
            width: 470px;
            margin: 0 auto;
            padding: 0px;
            color:black;
        }
        #letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10{
            width: 28px;
            height: 45px;
            font-size: 30px;
            line-height: 45px;
        }
        #underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, #underline8, #underline9, #underline10{
            width: 28px;
            height: 45px;
            margin-right: 3px;
            color:black;
        }
        #hangman{
            margin: 20px auto 0 auto;
            
        }
        #letterBank, #challengeBank{
            width: 430px;
            height: 145px;
            margin: 10px auto;
            font-size: 35px;
            line-height: 45px;
        }
        #letterBank div, #challengeBank div{
            width: 44px;
            height: 44px;
            margin: 0px 3.5px 5px 0px;
        }
        #letterBank div:active, #challengeBank div:active{
            width: 44px;
            font-size: 27px;
            padding-top: 0px;
            padding-bottom: 3px;
        }
        #results{
            margin-top: 5px;
            height: 50px;
            visibility: hidden;
            line-height: 70px;
        }
        #again, #home, #home1{
            display: none;
            width: 50%;
            height: 65px;
            margin: 20px auto 20px auto;
            font-size: 35px;
            line-height: 65px;
            text-align: center;
            color: white;
            background-color: #00006c;
            border-radius: 25px;
            cursor: pointer;
        }
        #home{
            margin-top: 0px;
        }
        #vidSent{
            margin-bottom: 50px;
            font-size: 25px;
        }
    #challengeGame{
        text-align: center;
    }
 
@media (max-width: 500px){
    #introPage{
        height: 100%;
        width: 100%;
        min-width: 365px;
    }
  
        
        #buttonContainer{
            width: 90%;
            height: 50px;
        }
       
      
    
        #categoryHolder{
            margin: 0 auto;
            width: 90%;
            height: 180px;
     
        }
    
        #multiText p{
            font-size: 16px;
        }
        #input{
            padding: 5px;
            font-size: 15px;
        }
        #restriction{
            right: 85px;
            bottom: 15px;
            font-size: 10px;
        }
        #characterCount{
            width: 90%;
            height: 25px;
            font-size: 15px;
        }
        #submit{
            font-size: 20px;
            width: 150px;
            height: 25px;
            line-height: 25px;
        
  
   
        }    
        #wordWrap{
            width: 320px;
            margin-top: 10px;
            padding: 0px;
            color:black;
        }
        #letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9, #letter10{
            width: 18px;
            height: 30px;
            margin-bottom: 15px;
            text-align: center;
            font-size: 18px;
            line-height: 30px;
        }
        #underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, #underline8, #underline9, #underline10 {
            width: 18px;
            height: 30px;
            margin-right: 3px;
            color:black;
        }
        #letterBank, #challengeBank{
            width: 310px;
            height: 170px;
            font-size: 30px;
            line-height: 40px;
        }
        #letterBank div, #challengeBank div{
            width: 41px;
            height: 40px;
            margin: 0px 3px 3px 0px;
        }
        #letterBank div:active, #challengeBank div:active{
            width: 41px;
            font-size: 25px;
            padding-top: 0px;
            padding-bottom: 3px;
        }
        #results{
            margin-top: 5px;
            height: 40px;
        }
        #again, #home, #home1{
            width: 250px;
            height: 45px;
            margin: 10px auto;
            font-size: 26px;
            line-height: 45px;
        }
        #vidSent{
            margin-bottom: 30px;
            font-size: 16px;
        }

        #vidHead, #vidCaption{
            margin: 0 auto 10px auto;
            font-size: 30px;
            text-align: center;
        }
        #vidCaption{
            margin-top: 10px;
            font-size: 13px;
        }


@media (max-width: 450px){
    #restriction{
        right: 60px;
        bottom: 15px;
        font-size: 10px;
    }}}
